@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-global_silver font-Noto;
}

.border-medium {
    border-width: 1px !important;
}

.data-\[open\=false\]\:border-foreground[data-open=true]:hover {
    @apply !border-global_silver
}

.min-h-unit-8{
    height: 44px !important;
    width: 100%;
    border-radius: 6px !important;
}


/* scroll styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-global_green rounded-xl;

}

::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-global_silver;
}

.hide-text {
    max-width: 100px;
    display: inline-block;
    white-space: nowrap;
    height: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/* react tel input  */
.react-tel-input input {
    width: 100% !important;
    height: 42px !important;
    border-radius: 0.5rem !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;

}

.react-tel-input input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    border-color: none !important;
    outline: none !important;
}

.react-tel-input .flag-dropdown {
    background: transparent !important;
    border: none !important;
}

.react-tel-input .flag-dropdown .selected-flag {
    border-end-end-radius: 0 !important;
    border-start-start-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
    @apply rounded-l-md !border-r
}